[submodule "extern/cyclone/cyclone"]
	path = extern/cyclone/cyclone
	url = https://github.com/idmillington/cyclone-physics.git
[submodule "extern/raylib"]
	path = extern/raylib
	url = https://github.com/raysan5/raylib.git
[submodule "extern/imgui/imgui"]
	path = extern/imgui/imgui
	url = https://github.com/ocornut/imgui.git
[submodule "extern/imguizmo/imguizmo"]
	path = extern/imguizmo/imguizmo
	url = https://github.com/CedricGuillemet/ImGuizmo.git
[submodule "extern/entt/entt"]
	path = extern/entt/entt
	url = https://github.com/skypjack/entt.git
